---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome To LPIS Template">
  <h1>Sobre Nós</h1>
  <p>
    É claro que a mobilidade dos capitais internacionais promove a alavancagem
    do investimento em reciclagem técnica. Evidentemente, a execução dos pontos
    do programa facilita a criação das diretrizes de desenvolvimento para o
    futuro. Do mesmo modo, o julgamento imparcial das eventualidades agrega
    valor ao estabelecimento do sistema de participação geral. Não obstante, o
    desafiador cenário globalizado maximiza as possibilidades por conta de todos
    os recursos funcionais envolvidos.
  </p>
</Layout>
