---
import Layout from "../layouts/Layout.astro"

import Hero from "../components/Hero.astro"
import Card from "../components/Card.astro"
---

<Layout
  title="Landing Page and Institucional Site template."
  description="A dynamic Astro SSG template to help freelancers around the world."
>
  <Hero
    variant="hero-seven"
    heroStatement="A Very Modular Template"
    heroTitle="Welcome To LPIS Template"
    heroTitleSecondary="This Is The Future"
    heroDescription="A template that helps you create wonderful landing pages."
  />
  <main class="px-6 md:max-w-5xl m-auto">
    <Card
      variant="card-five"
      cardTitle="Card Title"
      cardContent="Lorem ipsum"
    />
  </main>
</Layout>
