---
import Layout from "../layouts/Layout.astro"

import Hero from "../components/Hero.astro"
import Section from "../components/Section.astro"
---

<Layout
  title="Landing Page and Institucional Site template."
  description="A dynamic Astro SSG template to help freelancers around the world."
>
  <Hero
    variant="hero-seven"
    statement="A Very Modular Template"
    title="Welcome To LPIS Template"
    secondaryTitle="This Is The Future"
    content="A template that helps you create wonderful landing pages."
    imageUrl="./laptop.jpg"
    imageAlt="Someone using a laptop."
  />
  <main class="px-6 md:max-w-5xl m-auto">
    <Section
      variant="section-one"
      title="Longer Title To Display This Better"
      content="A template that helps you create wonderful landing pages."
      imageUrl="./laptop.jpg"
      imageAlt="Someone handling a laptop."
    />
  </main>
</Layout>
