---
import type { BaseInterface } from "../common/base.type"

export interface Props extends BaseInterface {
  link?: string
}

const { variant, classVariant, content, link } = Astro.props
---

<button
  class="max-w-max flex text-dark-title bg-primary-base hover:!bg-primary-darkest focus:border-primary-dark focus:border-4 focus:border-solid focus:outline-none transition-colors group"
  class:list={{
    "rounded-lg": classVariant?.includes("filledLgRounded"),
    "rounded-full": classVariant?.includes("filledFullRounded"),
    "!bg-transparent border-primary-dark border-2 border-solid":
      classVariant?.includes("noFill"),
    "w-full": classVariant?.includes("fullWidth"),
  }}
  ,
>
  {
    variant === "call-to-action" ? (
      <a
        class={`px-6 py-3 md:px-8 ${
          classVariant?.includes("noFill") ? "text-primary-dark" : ""
        } group-hover:text-primary-base`}
        href={link}
      >
        {content}
      </a>
    ) : (
      <p class="px-6 py-3 md:px-8">{content}</p>
    )
  }
</button>
