---
import Home from "../assets/Footer/Home.svg"
import About from "../assets/Footer/About.svg"
import Logo from "../../public/logoLight.svg"

import type { ImageTypes } from "../common/image.type"

import ImageBlock from "./ImageBlock.astro"
---

<footer class="w-full py-8">
    <div class="md:max-w-5xl m-auto px-6 flex justify-between">
	<div class="flex gap-4 items-center">
	    <a
		aria-label="Link to home page."
		href="./"
	    >
		<ImageBlock
                    imageWidth={128}
                    imageHeight={128}
		    imageUrl={Logo}
		    imageAlt="A house sign icon to represent the Home page."
		/>
	    </a>
	    <a aria-label="Another link to home page." href="/">
		<ImageBlock
                    imageWidth={40}
                    imageHeight={40}
		    imageUrl={Home}
		    imageAlt="A house sign icon to represent the Home page."
		/>
	    </a>
	    <a aria-label="A link to the about page." href="/about">
		<ImageBlock
                    imageWidth={40}
                    imageHeight={40}
		    imageUrl={About}
		    imageAlt="A information sign icon to represent the About page."
		/>
	    </a>
	</div>
	<a href="">Privacy Policy</a>
    </div>

</footer>
