---
import Navbar from "./Navbar.astro"
import { Image } from "@astrojs/image/components"
---

<header
  class="fixed w-full flex justify-center bg-slate-50 py-2 transition-transform duration-100 h-[72px] header-scroll z-10"
>
  <div class="flex justify-between w-full max-w-screen-lg px-6">
    <a href="./" class="flex items-center dark">
      <Image
        width={100}
        height={100}
        src="./logoLight.svg"
        quality={100}
        format="svg"
        alt="Logo"
      />
    </a>

    <Navbar variant="desktop" />
  </div>
</header>

<Navbar variant="mobile" />

<style>
  .header-hidden {
    transform: translateY(calc(-1 * 72px));
  }
</style>

<script defer>
  // Auto-Hides Header On Scroll
  const headerScroll = document.querySelector(".header-scroll")
  let lastScroll = window.scrollY

  window.addEventListener("scroll", () => {
    if (lastScroll < window.scrollY) {
      headerScroll.classList.add("header-hidden")
    } else {
      headerScroll.classList.remove("header-hidden")
    }

    lastScroll = window.scrollY
  })
</script>
