---
import Button from "./Button.astro"
import { Image } from "@astrojs/image/components"
import ImageBlock from "./ImageBlock.astro"

const { variant } = Astro.props

export interface Props {
  variant: string
}
---

<div>
  {
    [
      variant?.includes("hero-one") && (
        <div class="flex flex-col md:flex-row gap-8">
          <div class="w-full flex flex-col gap-6">
            <div class="flex flex-col gap-2">
              <p class="font-bold text-secondary-base">Statement</p>
              <h1>Title Goes Here</h1>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at
              elit ac neque volutpat dapibus. Vivamus aliquam iaculis felis sit
              amet sollicitudin. Nunc iaculis viverra neque, quis placerat est
              mattis ac.
            </p>

            <Button classVariant="filledLgRounded" variant="call-to-action" />
          </div>
          <ImageBlock
            classVariant="fullWidth lgRounded"
            imageWidth={500}
            imageHeight={500}
            imageUrl="./laptop.jpg"
            imageFormat="jpg"
            imageAlt="Laptop photo."
          />
        </div>
      ),
    ]
  }
</div>
