---
// So not be confused with Image.astro integrated images.

import type { Props as BaseProps } from "../BaseProps"

interface Props extends BaseProps {
  imageUrl: string
  imageWidth: number
  imageHeight: number
  imageAlt: string
  imageFormat: "jpg" | "png" | "webp" | "svg"
}

const {
  classVariant,
  imageUrl,
  imageWidth,
  imageHeight,
  imageAlt,
  imageFormat,
} = Astro.props

import { Image } from "@astrojs/image/components"
---

<div
  class="flex justify-center"
  class:list={{
    "w-full": classVariant?.includes("fullWidth"),
    "!justify-start": classVariant?.includes("flexStart"),
    "!justify-end": classVariant?.includes("flexEnd"),
  }}
  ,
>
  {
    (
      <Image
        class:list={{
          "rounded-lg": classVariant?.includes("lgRounded"),
          "rounded-full": classVariant?.includes("fullRounded"),
          "w-full": classVariant?.includes("fullWidth"),
        }}
        fit="cover"
        width={imageWidth}
        height={imageHeight}
        src={imageUrl as string}
        quality={100}
        format={imageFormat}
        alt={imageAlt}
      />
    )
  }
</div>
