---
import Card from "../components/Card.astro"
import type { Props as BaseProps } from "../BaseProps"

interface Props extends BaseProps {}

const { variant, title, content } = Astro.props
---

<section>
  {
    [
      variant?.includes("section-one") && (
        <div class="flex flex-col gap-6">
          <Card
            variant="card-three"
            classVariant="reversed"
            statement="This Is Part Of A Content Section"
            title="This A Content Section"
            content="Use the pre-existing card component to make these."
          />
          <Card
            variant="card-three"
            classVariant="rightText"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-two") && (
        <div>
          <Card
            variant="card-two"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-three") && (
        <div class="flex flex-col gap-8">
          <Card
            variant="card-one"
            classVariant="reversed"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
          <Card
            variant="card-one"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-four") && (
        <div class="flex flex-col gap-4">
          <Card
            variant="card-four"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
          <div class="flex flex-col md:flex-row">
            <Card
              variant="card-five"
              statement="This Is Part Of A Content Section"
              title="It's Easy To Make One"
              content="And with different patterns this will make your landing page incredible."
            />
            <Card
              variant="card-five"
              statement="This Is Part Of A Content Section"
              title="It's Easy To Make One"
              content="And with different patterns this will make your landing page incredible."
            />
          </div>
        </div>
      ),
      variant?.includes("section-five") && (
        <div class="flex flex-col md:flex-row py-16 gap-8">
          <Card
            variant="card-six"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
          <Card
            variant="card-six"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
          <Card
            variant="card-six"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-seven") && (
        <div class="flex flex-col md:flex-row gap-8">
          <Card
            variant="card-seven"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
          <Card
            variant="card-seven"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
          <Card
            variant="card-seven"
            statement="This Is Part Of A Content Section"
            title="It's Easy To Make One"
            content="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-eight") && (
        <div>
          <h1>{title}</h1>
          <p>{content}</p>
        </div>
      ),
    ]
  }
</section>
