---
import Card from "../components/Card.astro"
export interface Props {
  variant: string
}

const { variant } = Astro.props
---

<section>
  {
    [
      variant?.includes("section-one") && (
        <div class="flex flex-col gap-6">
          <Card
            variant="card-three"
            classVariant="reversed"
            cardStatement="This Is Part Of A Content Section"
            cardTitle="This A Content Section"
            cardContent="Use the pre-existing card component to make these."
          />
          <Card
            variant="card-three"
            classVariant="rightText"
            cardStatement="This Is Part Of A Content Section"
            cardTitle="It's Easy To Make One"
            cardContent="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-two") && (
        <div>
          <Card
            variant="card-two"
            cardTitle="It's Easy To Make One"
            cardContent="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-three") && (
        <div class="flex flex-col gap-8">
          <Card
            variant="card-one"
            classVariant="reversed"
            cardStatement="This Is Part Of A Content Section"
            cardTitle="It's Easy To Make One"
            cardContent="And with different patterns this will make your landing page incredible."
          />
          <Card
            variant="card-one"
            cardStatement="This Is Part Of A Content Section"
            cardTitle="It's Easy To Make One"
            cardContent="And with different patterns this will make your landing page incredible."
          />
        </div>
      ),
      variant?.includes("section-four") && (
        <div class="flex flex-col gap-4">
          <Card
            variant="card-four"
            cardStatement="This Is Part Of A Content Section"
            cardTitle="It's Easy To Make One"
            cardContent="And with different patterns this will make your landing page incredible."
          />
          <div class="flex flex-col md:flex-row">
            <Card
              variant="card-five"
              cardStatement="This Is Part Of A Content Section"
              cardTitle="It's Easy To Make One"
              cardContent="And with different patterns this will make your landing page incredible."
            />
            <Card
              variant="card-five"
              cardStatement="This Is Part Of A Content Section"
              cardTitle="It's Easy To Make One"
              cardContent="And with different patterns this will make your landing page incredible."
            />
          </div>
        </div>
      ),
    ]
  }
</section>
