---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import SEO from "./SEO.astro"
import "/src/global.css"

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <SEO
      globalTitle="Landing Page and Institucional Site template."
      globalDescription="A dynamic Astro SSG template to help freelancers around the world."
    />
  </head>
  <body class="bg-slate-100">
    <Header />
    <Hero
      variant="hero-two"
      heroStatement="A Very Modular Template"
      heroTitle="Welcome To LPIS Template"
      heroDescription="A template that helps you create wonderful landing pages."
    />
    <main class="px-6 md:max-w-5xl m-auto">
      <slot />
    </main>
  </body>
</html>
